*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wraper {
    display: flex;
    flex-wrap: wrap;
}

.wraper .img{width: 33.3%;}

img{
    max-width: 100%;
}

@media screen and (max-width: 1024px){
    .wraper .img{width:33.3%;}
}

@media screen and (max-width: 768px){
    .wraper .img{width: 50%;}
}

@media screen and (max-width: 580px){
    .wraper .img{width: 100%;}
}
